<a href="https://colab.research.google.com/github/vincetita/Pythonwork/blob/master/Copy_of_Lesson_4_Lists%2C_Loops_%26_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Hello.**

# **Course Overview**

### Programming basics
[X] Algorithms           
[X] Running your first program     
[X] Interactive program  

### Data types
[X] Variables    
[X] Types (Boolean, Int, Float, Strings)

### Data transformation
[X] Arithmetic (+,  -, *, /, ** , %, )    
[X] Type conversion       
[X] Conditionals  (if/elif/else)    
[ ] Methods

### Handling collections
[ ] Collection types   
[ ] Loops    
[ ] Lists

### Functions
[_] ...

### Files
[_] ...

### Dictionaries
[_] ...

# **Outlook: Preject**
Next week we will work on mini project :)


![alt text](https://code.org/images/fill-480x360/tutorials/hoc2019/dance-2019.jpg)

#  **Your Feedback from last class**

9 out of 34 people submitted feedback.

- What did you enjoy specifically / What was the best part of the lesson:
  - Practicin', Practicin' & Practicin'!
  - Writing code by myself, trying to solve errors.
  - support and help from other teachers
  - class structure

- What could have helped you learn better / What would you change?
  - too noisy - not only from other event at ReDI but groups of students within the course
  - too many participants compared to the numbers of supervisors
  - some people hadn't registered, but joined the classes and took time of the supervisors to ask about their problems

# **Homework Assessment Mentimeter** 

Go to `www.menti.com` and enter the code **22 46 39**

# **Recap** - What we have learned so far

### Variables

A variable is a container for storing data values.
<img src="https://i1.wp.com/theailearner.com/wp-content/uploads/2018/09/Untitled-Diagram.png?resize=300%2C134&ssl=1" width="550"/>


### Data Types

* We met 4 ***data types*** so far:
  * **Int** : `1, 2, 3, 4`
  * **float** : `3.124, 100.0`
  * **string** : `"How is everyone?"`
  * **bool** : `True, False`

In [0]:
int_value = 1337
float_value = 99.99
string_value = "I am a s'tring!"
bool_value = True

print(int_value, '          -  type:', type(int_value))
print(float_value, '         -  type:', type(float_value))
print(string_value, '-  type:', type(string_value))
print(bool_value, '          -  type:', type(bool_value))

1337           -  type: <class 'int'>
99.99          -  type: <class 'float'>
I am a s'tring! -  type: <class 'str'>
True           -  type: <class 'bool'>

* we met simple ***functions***:
  * **print()** - writes content to the output
  * **input()** - can make the program obtain info while running
  * **type()**  - see the data type of a variable
  * **bool, str, int, float** can transform data types

In [0]:
name = input("State your name:   ")
print("Hello", name, ", nice to meet you")

age = input("How old are you?   ")
age_int = int(age)
year = 2020 - age_int
print("You were probably born in the year", year)

State your name:   Natalie
Hello Natalie , nice to meet you
How old are you?   29
You were probably born in the year 1991

* We learned about **Arithmetic Operators**

![alt text](https://imgur.com/VFzCQCY.png)

In [0]:
a = 10
b = 5

c = a + b
print('a + b = ', c)

d = a * 2 / b
print('a * 2 / b = ', d)

e = 'hello! ' * 3
print("'hello!' * 3 = ", e)

a + b =  15
a * 2 / b =  4.0
'hello!' * 3 =  hello! hello! hello!

* we met comparison operators

![alt text](https://www.engineeringbigdata.com/wp-content/uploads/python-comparison-operators.jpg)

In [0]:
a = 7
b = 5

print('a == b  =', a==b)
print('a >= b  =', a>=b)
print('a != b  =', a!=b)

a == b  = False
a >= b  = True
a != b  = True

* we met **if blocks** that can be used to describe that a block of code is executed
  * **if**
    - is at the start of each if block.
    - has a condition and is only executed if the condition is met
    - the remaining elif/else clauses of the block are skipped
  * **elif**
    - is optional
    - we can use as many as we want
    - has a condition and is only executed if the condition is met
    - the remaining elif/else clauses of the block are skipped
  * **else**
    - is optional
    - only used once at the end of the block
    - no condition
    - is executed if none of the other conditions is met

In [0]:
name = input("State your name:   ")
print("Hello", name, ", nice to meet you")

age = input("How old are you?   ")
age_int = int(age)
year = 2020 - age_int
print("You were probably born in the year", year)

In [0]:
birthday_did_happen = input("Did you already have birthday this year? yes/no  ")
if birthday_did_happen == "yes" or birthday_did_happen == "y":
  print("Aha! you were definitly born in the year", year)
elif birthday_did_happen == "no" or birthday_did_happen == "n":
  year = year - 1
  print("Aha! So you were born in the year", year)
else:
  print("Please answer with yes or no!")

Did you already have birthday this year? yes/no  don't know
Please answer with yes or no!

In [0]:
type("True")

str

In [0]:
plants = 8

In [0]:
plants

8

# **Quiz Time :)** 

Go to `www.menti.com` and enter the code **22 98 62**

# **Lists**

Lists are an entirely new ***data type***!

Lists are like lists in real life, they are a **collection of items**

List can contain any data type, also at the same time.

For example a shopping list:
  - bread
  - bananas
  - cucumber

In [0]:
# In python this looks like this:
shopping_list = ['bread', 'bananas', 'cucumber', 1, True, 6, 'string']
print(shopping_list)
print(type(shopping_list))

['bread', 'bananas', 'cucumber', 1, True, 6, 'string']
<class 'list'>

# Let's try this out!

1. **Write a list that contains the numbers from 1 to 5**

In [0]:
list_of_integers = [1,2,3,4,5]

2. **Write a list with your five favourite animals. Call the list animals and print it**

## Properties of Lists
Lists have:
- **values**
- **indices**  - always start at 0
- **a length** - number of elements in a list


![alt text](https://developers.google.com/edu/python/images/list1.png)

### Accessing list elements

In [0]:
colors = ['red', 'blue', 'green']
print(colors)
print(len(colors))

['red', 'blue', 'green']
3

In [0]:
# Indexing a list
print(colors[0])
print(colors[2])

red
green

In [0]:
# ERROR if index is too high
print(colors[3])

IndexError: ignored

In [0]:
colors = ['red', 'blue', 'green']
print(colors)
print(len(colors))

In [0]:
# Printing the last element in a list
print(colors[-1])

green

In [0]:
# Slicing 
print(colors[:2])
print(colors[1:2])
print(colors[-2:-1])

In [0]:
print(colors[-2:-1])

['blue']

In [0]:
colors

['red', 'blue', 'green']

In [0]:
# Changing a list element
colors[1] = 'yellow'
print(colors)

['red', 'yellow', 'green']

# Time to practice

**Exercise**: Print the **third element** in your list of favourite animals

**Exercise**: Print 'My favourite animal is the ... ' with the **first element** in your list of favourite animals.

**Exercise**: Print the **last element** in your list of favourite animals

**Exercise**: Print the **last two element** in your list of favourite animals

**Exercise**: Change the **last element** in your list of favourite animals to 'cats'

# List Methods

A method is a function that is available for a specific data type.

*   Methods are called by adding a dot, the method name and round brackets to the object, e.g. *animals.append('cat')*
*   Methods can take no, one, or several parameters (like functions)
* Use dir or help, e.g. *dir(animals)* to see all methods for a variable or type

In [0]:
# Append an element to a list
print(colors)
colors.append('green')
print(colors)

In [0]:
# Append an entire list to the original one
another_list_of_colors = ['pink', 'yellow', 'green']
colors.extend(another_list_of_colors)
print(colors)

In [0]:
# Search for an element in the list and return its index
#If the same element is present more than once, the method returns the index of the first occurrence of the element.
print(colors)
print(colors.index('green'))
print(colors.index('yellow'))

In [0]:
# ERROR if element is not in list
print(colors.index('magenta'))

In [0]:
# Count how often an element appears in a list
red_count = colors.count('red')
green_count = colors.count('green')

print('Number of red: ', red_count)
print('Number of green: ', green_count)

Number of red:  1
Number of green:  2

In [0]:
# Sort the list elements
colors.sort()
print(colors)

['blue', 'green', 'green', 'red']

In [0]:
# Getting all list methods
dir(colors)

# Time to practice

<img src="https://www.australiangeographic.com.au/wp-content/uploads/2018/11/wombat-australia.jpg" width="300"/>

**Exercise**: After seeing this super cute little wombat, you fall in love with these animals.

Add *wombats* to your list of favourite animals

**Exercise:**
  - At which index are *wombats* listed?

**Exercise**:
  - print the length (number of elements) of your list of favourite animals
  - add the animals in *additional_animals* to your list
  - print the length again
  - print the list of animals

In [0]:
additional_animals = ['snails', 'giraffes', 'ice bears', 'wombats', 'cats', 'dogs']

**Exercise**:
- How often do *wombats* appear in your list of favourite animals?
- How often does your favourite animal appear?

**Exercise**:
- Sort the list of animals by their name and print it
- At which index is your favourite animal now?

**Bonus**:
- Explore the other list methods: *pop*, *reverse*, *insert*, *remove*, *clear*
- Approach: Print the list, execute the method, print the list again
- Answer the following questions:
    - what does the method do?
    - does it require an input?
    - does it have an output?

In [0]:
print(colors)
colors.pop()
print(colors)

# **Loops**

Now we have learned a lot about lists.

Next we ook at how to browse through a list to do something with its elements.

This is done with **loops**.


Loops are logical constructs just like "if". Two types of loops:

1.   For loops
2.   While loops

# For Loop

For loop is the logical construct of saying: "for every element in a list -> do something"

For example: For every color in the colors, say *I like _*

In [0]:
for color in colors:
  print('I like ', color)

A real world example: Over one month we have recorded the daily temperature in Berlin.

Question: What is the average temperature of this month?

Let's work on this together :)

In [0]:
temperatures = [12, 8, 9, 11, 7, 15, 14, 19, 10, 8, 6, 5, 9, 11, 12, 15, 17, 10, 9, 90, 8, 45, 11, 10, 11, 114, 13, 10, 105, 120]

**Exercise:** Iterate / Browse through all animals in your animal list. 

For each animal write 'I like ' + the animal.

If the animal is your favourite animal, print for example *Wombats are my favourite animals*. Fill in your favourite animal.

**Exercise:** 
1.   Print all element of the list which are greater than 10
2.   Compute the sum of all elements
3.   Mulitply all elements in the list which are smaller or equal to 10

Tipp: Use a new code cell for each exercise.



**Bonus:** Do all three exercises in only one for loop.

In [0]:
integer_list = [12, 3, 7, 10.5, 2, 15, 14]

## **Break and Continue** - Controlling loops

**break**
The break statement immediately terminates the loop.
The program continues immediately after the loop.
.

**continue**
The continue statement skips the rest of the code inside a loop for the current iteration.

In [0]:
temperatures = [12, 8, 9, 11, 7, 15, 14, 19, 10, 8, 6, 5, 9, 11, 12, 15, 17, 10, 9, 90, 8, 45, 11, 10, 11, 114, 13, 10, 105, 120]

total_temperature = 0
for temperature in temperatures:

  print('Add temperature: ', temperature)
  total_temperature = total_temperature + temperature

print('End of the computation!')

In [0]:
temperatures = [12, 8, 9, 11, 7, 15, 14, 19, 10, 8, 6, 5, 9, 11, 12, 15, 17, 10, 9, 90, 8, 45, 11, 10, 11, 114, 13, 10, 105, 120]

total_temperature = 0
for temperature in temperatures:

  print('Add temperature: ', temperature)
  total_temperature = total_temperature + temperature

print('End of the computation!')
average_temperature = total_temperature / len(temperatures)
print('Average: temperature: ', average_temperature)

**Exercise:**
- Loop through the following list.
- Print each element
- if the value is smaller than 0 print 'Negative Value'
- if the value is 0 or 100 stop the for loop with a break statement

In [0]:
integer_list = [4, 6, -1, -3, 10, -7, 8, 8, 0, 10, -2, -2]

**Bonus:** Same exercise as above but now only print the list element if it is between 5 and 10.

Hint: Use a continue statement

# **Quiz Time :)** 

Go to `www.menti.com` and enter the code **83 78 53**

# While loop

While continues to loop until a condition the given condition is statisfied.

**Syntax:**
```
while [condition]:
  [run this code]
```

**Example 1: Attendance List**


Let's take attendance with a while loop, using user input!

In [0]:
# Previous Approach

present_students = []

student_name = input("Student name?: ")
present_students.append(student_name)

print(present_students)

In [0]:
# Approach with while loop

present_students = []
student_name = ''
while student_name != 'done':
  student_name = input("Student name?: ")
  if student_name != 'done':
    present_students.append(student_name)
print(present_students)

**Example**

Let's print from 1 to 10.

In [0]:
int_value = 1
while int_value <= 10:
  print(int_value)

Now the above code ran for more than 10 times.

**Why?**

Because the value of 'int_value' remains the same and the condition 'int_value <= 10'(less than or equal to 10) is never statified. This is called infinte loops and should be avoided.

In [0]:
int_value = 1
while int_value <= 10:
  int_value = int_value + 1 # Can also be written as 'int_value += 1'
  print(int_value)

**Exercise ** Fix the code from previous example. The code did ran for 10 times as expected but the results were not as expected. Lets fix it.

In [0]:
int_value = 1
while int_value <= 10:
  int_value = int_value + 1
  print(int_value)